
#shop-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#shop-page .middle-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

#shop-page .fav-button-container {
    border: 2px solid black;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#shop-page .fav-button-container .favorite-button {
    position: inherit;
    border: none;
}

#shop-page h2 {
    font-size: 2rem;
    font-weight: 600;
}